<div class="mb-3">
    <h3 class="accent-color text-uppercase">experience</h3>
    <% if (Array.isArray(experiences)) { %>
        <% experiences.forEach(function (experience){ %>
            <div class="mt-1">
                <h5 class="font-weight-bold"><%= experience.title %></h5>
                <h5><%= experience.company %></h5>
                <div class="row font-italic second-color">
                    <div class="col-6"><span class="float-left"><%= experience.period %></span></div>
                    <div class="col-6"><span class="float-right"><%= experience.location %></span></div>
                </div>
                <% if (Array.isArray(experience.task)) { %>
                    <div>
                        <div class="font-italic second-color">Tasks</div>
                        <ul>
                            <% experience.task.forEach(function (task){ %>
                                <li><%= task %></li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>
                <% if(experience.contact) { %>
                    <div>
                        <span class="font-italic second-color">Contact: </span><%= experience.contact %>
                    </div>
                <% } %>
            </div>
        <% }) %>
    <% } %>
</div>
