<div class="row">
    <div class="col-2">
        <img class="img-fluid rounded-circle" src="<%= contents.profile.avatar %>"
             alt="curicullum vitae <%= contents.profile.full_name %>"/>
    </div>
    <div class="col-10">
        <h1 class="primary-color"><%= contents.profile.full_name %></h1>
        <h3 class="second-color"><%= contents.profile.title %></h3>
        <p><%= contents.profile.summary %></p>
    </div>
</div>
